body{
	background-color: skyblue;
	color: grey;
}

#camera, #photo {
	height: 200px;
	width: 200px;
	border: 3px double gray;
}

.completed{
	text-decoration: line-through;
	color: red;
}

.completed img{
	display: none;
}

#grocerylist{
	margin-top: 10%;
	border: 1px dashed gray;
}

.groceryprev{
	border-radius: 20px;
	height: 75%;
	width: 75%;
}
